body{
    margin: 0;
    padding: 0;
}

.table{
    margin-top: 10px;
    border: 0;
}

.table input{
    height:35px;
    width: 80%;
    padding-left: 15px;
}

.table td, th{
    border: 0;
    text-align: center;
}

.table img{
    cursor: pointer;
}


.modal.show{
    display: block;
}

.layer{
    z-index: 9;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 94vh;
    background-color: black;
    
}



.modal-body{
    padding-left: 50px;
    padding-right: 50px;
}

form table td{
    margin-left: 15px;
}